@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
}


@theme {
  /* Fonts */
  --font-display: "Outfit", sans-serif;
  --font-body: "Outfit", sans-serif;

  /* Extracted from Logo */
  --color-primary: #5CAFDA;
  --color-secondary: #102A43;
  
  /* Backgrounds */
  --color-background-light: #F8FAFC;
  --color-background-dark: #0F172A;

  /* Training Theme (Blue nuances) */
  --color-training-50: #f0f9ff;
  --color-training-100: #e0f2fe;
  --color-training-500: #38bdf8;
  --color-training-600: #0284c7;
  --color-training-900: #0c4a6e;

  /* Nutrition Theme (Green palette as requested) */
  --color-nutrition-50: #ecfdf5;
  --color-nutrition-100: #d1fae5;
  --color-nutrition-200: #a7f3d0;
  --color-nutrition-300: #6ee7b7;
  --color-nutrition-400: #34d399;
  --color-nutrition-500: #10b981; /* Main Green */
  --color-nutrition-600: #059669;
  --color-nutrition-700: #047857;
  --color-nutrition-800: #065f46;
  --color-nutrition-900: #064e3b;
  --color-nutrition-950: #022c22;
}