---
import '@styles/global.css';
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import Hero from '@components/Hero.astro';
import Features from '@components/Features.astro';
import Management from '@components/Management.astro';
import Visuals from '@components/Visuals.astro';
import CTA from '@components/CTA.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
  <Navbar />
  
  <main>
    <Hero />
    <Features />
    <Management />
    <Visuals />
    <CTA />
  </main>

  <Footer />
</Layout>
